@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Poppins:wght@700&family=Poppins:wght@400&family=Raleway:wght@600&family=Raleway:wght@700&family=Raleway:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body.light-theme {
  transition: 0.5s;
}
body.light-theme header h1 {
  color: #1d5d9b;
}
body.light-theme main section {
  background-color: #1d5d9b;
}
body.light-theme .card {
  background: rgb(29, 93, 155);
  background: linear-gradient(180deg, rgb(29, 93, 155) 0%, rgb(42, 112, 179) 35%, rgb(0, 169, 255) 100%);
}
body.light-theme .card .main-temp h2.temperature {
  color: #89cff3;
}
body.light-theme .search-input {
  background-color: #0a345e;
}
body.light-theme .content .forecast .minicard.active {
  box-shadow: inset 0 0 0 4px #00a9ff;
  background: linear-gradient(to left top, rgba(29, 93, 155, 0) 0%, rgb(0, 169, 255) 100%);
}
body.light-theme .content .forecast .minicard h4.stats {
  color: #fafafa;
}
body.light-theme .content .forecast .minicard h4.temperature {
  color: #f8e559;
}
body.light-theme footer p {
  color: #1d5d9b;
}

header {
  display: flex;
  justify-content: center;
  padding: 15px;
}
header h1 {
  font-size: 1.5em;
  font-weight: 700;
  color: #2b115c;
  font-family: "Raleway", sans-serif;
}

main {
  display: flex;
  justify-content: center;
}
main section {
  position: relative;
  display: grid;
  grid-template-areas: "card search" "card content";
  place-items: center;
  padding: 30px;
  border-radius: 15px;
  gap: 0px 20px;
  background-color: #2b115c;
}

.overlay {
  position: absolute;
  z-index: 1;
  background-color: rgba(44, 42, 42, 0.5058823529);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overlay.active {
  transition: all 0.5s ease-in-out;
  transform: scale(1);
  opacity: 1;
}
.overlay.active .popup-404 {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  width: 100%;
}
.overlay.active .popup-404 h2 {
  font-size: 4em;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: -20px;
  color: #2b115c;
}
.overlay.active .popup-404 span.close {
  font-size: 3em;
  font-weight: 700;
  cursor: pointer;
  align-self: end;
  margin-top: -20px;
}
.overlay.active .popup-404 img {
  width: 230px;
  margin: 0 auto;
}
.overlay.active .popup-404 h3 {
  font-size: 1.2em;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.card {
  grid-area: card;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  padding: 15px;
  width: 350px;
  border-radius: 20px;
  background: rgb(43, 17, 92);
  background: linear-gradient(to bottom, rgba(43, 17, 92, 0) 0%, rgba(82, 41, 158, 0.377) 30%, rgb(134, 74, 249) 100%);
}
.card img.weather-img {
  align-self: center;
}
.card .headCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .headCard .status-weather {
  display: flex;
}
.card .headCard .status-weather h2 {
  font-weight: 600;
  color: #fafafa;
}
.card .headCard .status-weather span.date-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.card .headCard h3 {
  font-weight: 600;
  font-size: 1em;
  color: #f8e559;
}
.card .main-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .main-temp h2.temperature {
  font-size: 4em;
  font-weight: 600;
  max-height: 80px;
  color: #864af9;
  font-family: "Poppins", sans-serif;
}
.card .main-temp .location {
  display: flex;
  align-items: center;
  gap: 4px;
}
.card .main-temp .location h3.loc {
  color: #fafafa;
  font-weight: 500;
}

.search-input {
  width: 100%;
  max-width: 470px;
  grid-area: search;
  background-color: rgba(135, 74, 249, 0.631372549);
  border-radius: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.search-input input#search {
  box-sizing: border-box;
  flex: 1;
  border: none;
  outline: none;
  background: unset;
  font-weight: 600;
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  color: #fafafa;
}
.search-input input#search::placeholder {
  color: rgba(255, 255, 255, 0.4196078431);
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  padding: 0px 10px 10px;
  font-family: "Raleway", sans-serif;
}
.content h3.forecast-head {
  color: #f8e559;
  font-size: 1.5em;
  font-weight: 600;
  margin-left: 20px;
}
.content .status {
  display: flex;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
}
.content .status span {
  display: flex;
  align-items: center;
}
.content .status span img {
  margin-right: 20px;
}
.content .status span span.humidity,
.content .status span span.windSpeed {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.content .status span span.humidity h2.value,
.content .status span span.windSpeed h2.value {
  font-weight: 600;
  height: 27px;
  color: #f8e559;
}
.content .status span span.humidity h3.label,
.content .status span span.windSpeed h3.label {
  color: #fafafa;
  font-weight: 400;
}
.content .forecast {
  display: flex;
  flex-wrap: wrap;
  max-width: 530px;
  width: 100%;
  justify-items: center;
  justify-content: center;
  gap: 30px;
}
.content .forecast .minicard {
  display: flex;
  flex-wrap: wrap;
  min-width: 210px;
  width: 210px;
  max-width: 400px;
  height: 80px;
  justify-content: space-between;
  gap: 25px;
  border-radius: 10px;
  padding: 10px;
  background-color: #383838;
  color: #fafafa;
  align-items: center;
  transition: 0.5s;
}
.content .forecast .minicard.active {
  box-shadow: inset 0 0 0 4px #864af9;
  background: linear-gradient(to left top, rgba(43, 17, 92, 0) 0%, rgb(134, 74, 249) 100%);
}
.content .forecast .minicard img {
  margin-left: -20px;
}
.content .forecast .minicard h4.stats {
  color: #f8e559;
  font-weight: 600;
}
.content .forecast .minicard h4.date {
  font-weight: 500;
  min-width: 77px;
}
.content .forecast .minicard h4.temperature {
  margin-bottom: 15px;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
}

footer {
  padding: 30px;
  text-align: center;
  color: #2b115c;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

@media only screen and (max-width: 1000px) {
  body {
    background-color: #2b115c;
  }
  body.light-theme {
    background-color: #1d5d9b;
  }
  footer p {
    color: #fafafa;
  }
  header {
    display: none;
  }
  main section {
    grid-template-areas: "search" "card" "content";
    gap: 30px;
    padding: 0px;
    border-radius: 0px;
  }
  .search-input {
    width: 90%;
    margin: 10px;
  }
}
@media only screen and (max-width: 578px) {
  .forecast {
    padding: 10px;
    display: flex;
    overflow-x: auto;
    justify-content: start !important;
    flex-wrap: nowrap !important;
    margin: 0px 10px;
    max-width: 330px !important;
    height: 130px;
  }
  .forecast .minicard {
    flex: 0 0 auto;
    min-width: 210px;
    margin-right: 15px;
  }
  .forecast .minicard.active {
    min-width: 210px;
  }
}/*# sourceMappingURL=main.css.map */