@use "color";

@mixin responsive {
  @media only screen and (max-width: 1000px) {
    body {
      background-color: color.$base-color;
      &.light-theme {
        background-color: color.$light-base-color;
      }
    }
    footer p {
      color: color.$white-color;
    }
    header {
      display: none;
    }
    main {
      section {
        grid-template-areas:
          "search"
          "card"
          "content";
        gap: 30px;
        padding: 0px;
        border-radius: 0px;
      }
    }
    .search-input {
      width: 90%;
      margin: 10px;
    }
  }
  @media only screen and (max-width: 578px) {
    .forecast {
      padding: 10px;
      display: flex;
      overflow-x: auto;
      justify-content: start !important;
      flex-wrap: nowrap !important;
      margin: 0px 10px;
      max-width: 330px !important;
      height: 130px;

      .minicard {
        flex: 0 0 auto;
        min-width: 210px;
        margin-right: 15px;
        &.active {
          min-width: 210px;
        }
      }
    }
  }
}
