@use "color";

@mixin responsive {
  @media only screen and (max-width: 1000px) {
    body {
      background-color: color.$base-color;
    }
    footer p {
      color: color.$white-color;
    }
    header {
      display: none;
    }
    main {
      section {
        grid-template-areas:
          "search"
          "card"
          "content";
        gap: 30px;
        padding: 0px;
        border-radius: 0px;
      }
    }
  }
  @media only screen and (max-width: 578px) {
    .search-input {
      width: 90%;
      margin: 10px;
    }
    // .forecast {
    //   padding: 10px;
    //   display: flex;
    //   flex-wrap: nowrap !important;
    //   height: 130px;
    //   max-width: 500px;
    //   width: 80%;
    //   overflow-x: scroll;
    //   overflow-y: hidden;
    //   scroll-behavior: smooth;
    //   justify-content: start !important;
    //   .minicard {
    //     min-width: 210px;
    //     &.active {
    //       min-width: 210px;
    //     }
    //   }
    // }
  }
}
