@use "card" as c;
@use "content" as co;
@use "color";
@use "responsive" as r;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Poppins:wght@700&family=Poppins:wght@400&family=Raleway:wght@600&family=Raleway:wght@700&family=Raleway:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

// style body theme
body {
  &.light-theme {
    transition: 0.5s;
    header {
      h1 {
        color: color.$light-base-color;
      }
    }
    main {
      section {
        background-color: color.$light-base-color;
      }
    }
    .card {
      background: rgb(29, 93, 155);
      background: linear-gradient(
        180deg,
        rgba(29, 93, 155, 1) 0%,
        rgb(42, 112, 179) 35%,
        rgba(0, 169, 255, 1) 100%
      );
      .main-temp {
        h2.temperature {
          color: color.$light-third-color;
        }
      }
    }
    .search-input {
      background-color: color.$light-search-input;
    }
    .content {
      .forecast {
        .minicard {
          &.active {
            box-shadow: inset 0 0 0 4px color.$light-second-color;
            // border: 4px solid ;
            background: linear-gradient(
              to left top,
              rgba(29, 93, 155, 0) 0%,
              rgba(0, 169, 255, 1) 100%
            );
          }
          h4.stats {
            color: color.$white-color;
          }
          h4.temperature {
            color: color.$yellow-color;
          }
        }
      }
    }
    footer {
      p {
        color: color.$light-base-color;
      }
    }
  }
}

// style for header
header {
  display: flex;
  justify-content: center;
  padding: 15px;
  h1 {
    font-size: 1.5em;
    font-weight: 700;
    color: color.$base-color;
    font-family: "Raleway", sans-serif;
  }
}

// style for section
main {
  display: flex;
  justify-content: center;
  // padding: 15px;
  section {
    position: relative;
    display: grid;
    grid-template-areas:
      "card search"
      "card content";
    place-items: center;
    // display: flex;
    // justify-content: space-evenly;
    // align-items: center;
    // flex-wrap: wrap;
    padding: 30px;
    border-radius: 15px;
    gap: 0px 20px;
    background-color: color.$base-color;
    // width: 75%;
  }
}

// style for popup 404
.overlay {
  position: absolute;
  z-index: 1;
  background-color: #2c2a2a81;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: none;
  transition: all 0.3s ease-in-out;
  &.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .popup-404 {
      background-color: #fff;
      padding: 30px;
      border-radius: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 300px;
      width: 100%;

      h2 {
        font-size: 4em;
        text-align: center;
        font-family: "Poppins", sans-serif;
        margin-bottom: -20px;
        color: color.$base-color;
      }
      span.close {
        font-size: 3em;
        font-weight: 700;
        cursor: pointer;
        align-self: end;
        margin-top: -20px;
      }
      img {
        width: 230px;
        margin: 0 auto;
      }
      h3 {
        font-size: 1.2em;
        text-align: center;
        font-family: "Raleway", sans-serif;
      }
    }
  }
}

// style for card
@include c.card();

// style for card
@include co.content();

@include r.responsive();
