@use "card" as c;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

// dark mode color
$base-color: #2b115c;
$second-color: #864af9;
$search-input: #874af9a1;

// text-color
$yellow-color: #f8e559;
$white-color: #fafafa;

// light mode color
$light-base-color: #1d5d9b;
$light-second-color: #00a9ff;
$light-third-color: #89cff3;
$light-search-input: #0a345e;

// style for header
header {
  display: flex;
  justify-content: center;
  padding: 15px;
  h1 {
    font-size: 1.5em;
    color: $base-color;
    font-family: "Raleway", sans-serif;
  }
}

// style for section
main {
  display: flex;
  justify-content: center;
  section {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    border-radius: 15px;
    background-color: #2b115c;
    width: 75%;
  }
}
// style for card
@include c.card();
